*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins' , sans-serif;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.maincontainer{
    margin-top: 75px;
}